{% extends "base.html.twig" %}


{% block body %}
	<div class="container-xxl w-75">
		<div class="row">
			<p class="text-center">
				Votre commande a bien été enregistrée ! ✅
			</p>
		</div>
	</div>
{% endblock %}
