<div class="row p-2 m-2">
	<div class="col">
		<h5>
			<p class="text-muted">
				{{ item.product.title }}
			</p>
		</h5>
		<p class="small m-auto">
			{{ item.product.brand.getName }}
		</p>
	</div>
	<div class="col m-auto">
		Quantité(s)
		<input type="number" class="form-control" placeholder="1" value="{{item.quantity}}" step="1" min="1" disabled>
	</div>
	<div class="col d-flex flex-row-reverse">

		<p class="my-auto">
			<b>Prix :</b>
			{{ (item.product.price * item.quantity)|number_format(2, ',', ' ')}}€ HT
		</p>
	</div>
</div>
