<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<!-- Just an image -->
		<nav class="navbar navbar-light bg-success p-2 mb-3 text-white">
			Farmitoo
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
